.nav {
  &__list{
    @include flex-v-center;
  }
  &__item {
    font-size: 20px;
    font-weight: 600;
  }
  &__item:not(:last-child) {
    margin-right: 26px;
  }
  .nav__item-action {
    text-decoration: underline;
  }
}
