.services {
  background: linear-gradient(131.56deg, #173852 -6.49%, #2F91BC 42.45%, #173852 93.49%);
}
.services__list {
  @include flex-v-center;
}
.services__container {
  width: 100%;
}
.services__item p {
  color: #fff;
  padding: 50px;
}
.services__item {
  z-index: 1;
  position: relative;
}
.services__item img {
  width: 384px;
  height: 300px;
}
.services__item span {
  z-index: 999;
  position: absolute;
  width: 1px;
  height: 169px;
  top: 246px;
  left: 21px;
  background: #fff;
}
.services__item span::after {
  position: absolute;
  content: '';
  z-index: 3;
  top: 105px;
  left: 1px;
  width: 3px;
  height: 26px;
  background: #fff;
}
.services__item span::before {
  position: absolute;
  content: '';
  z-index: 3;
  top: -26px;
  left: 263px;
  width: 112px;
  height: 90px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.service__h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;

}
.services__container h1 {
  z-index: 2;
  position: relative;
  text-align: center;
  width: 300px;
  font-size: 40px;
  font-weight: 700;
  margin: 66px 0;
  text-transform: uppercase;
}
.services__container h1::before {
  z-index: -1;
  position: absolute;
  content: '';
  width: 79px;
  height: 79px;
  border-radius: 50%;
  left: -25px;
  top: -15px;
  background: #061C32;
  opacity: 0.3;
}

