<section class="benefits">
  <div class="container benefits__container">
    <div class="section__header">
      <h1 class="section__title section__title--black">Наши преимущества</h1>
    </div>
    <ul class="benefits__list">
      <li class="benefits__item">
        <span></span>
        <div class="benefits__item-img-wrapper">
        <img src="img/union.png" alt=""></div>
        <h2 class="benefits__item-h2">Преимущество</h2>
        <p>Выполняем работу качественно и в срок, применяем только современные и высококачественные материалы</p>
      </li>
      <li class="benefits__item">
        <span></span>
        <div class="benefits__item-img-wrapper">
        <img src="img/2.png" alt=""></div>
        <h2 class="benefits__item-h2">Преимущество</h2>
        <p>Выполняем работу качественно и в срок, применяем только современные и высококачественные материалы</p>
      </li>
      <li class="benefits__item">
        <span></span>
        <div class="benefits__item-img-wrapper">
        <img src="img/subtract.png" alt=""></div>
        <h2 class="benefits__item-h2">Преимущество</h2>
        <p>Выполняем работу качественно и в срок, применяем только современные и высококачественные материалы</p>
      </li>
      <li class="benefits__item">
        <span></span>
        <div class="benefits__item-img-wrapper">
        <img src="img/Vector.png" alt=""></div>
        <h2 class="benefits__item-h2">Преимущество</h2>
        <p>Выполняем работу качественно и в срок, применяем только современные и высококачественные материалы</p>
      </li>
    </ul>
  </div>
</section>
