<section class="form-map">
  <div class="container form-map__container">
    <div class="form__wrapper">
      <h1>Обратная связь</h1>
      <p>Оставьте заявку и мы свяжемся с вами в течении дня и постараемся помочь</p>
    </div>
    <div class="map__wrapper">
      <h2>
        <span></span>
        Мы на карте</h2>
      <div class="map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A02d8e6b381a2d361e1b4b2c5ad6a4a54dc84d87a9ca3c58e50646136d43eee53&amp;source=constructor" width="1132" height="492" frameborder="0"></iframe>
      </div>
    </div>
  </div>
