<header class="header">
  <div class="container header__container">
    <div class="header__nav">
      <a href="/">
        <img src="img/logo.svg" alt="logo str">
      </a>
      <nav class="nav" title="">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Объекты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="contacts">
        <div class="contacts__item">
          <p>отдел</p>
          <a class="phone" href="tel">+79109101010</a>
          <a class="email" href="email">
            <i class="fa-solid fa-envelope"></i>
            mail@mail.ru</a>
        </div>
        <div class="contacts__item">
          <p>отдел</p>
          <a class="phone" href="tel">+79109101010</a>
          <a class="email" href="email">
            <i class="fa-solid fa-envelope"></i>
            mail@mail.ru</a>
        </div>
        <div class="contacts__item">
          <p>отдел</p>
          <a class="phone" href="tel">+79109101010</a>
          <a class="email" href="email">
            <i class="fa-solid fa-envelope"></i>
            mail@mail.ru</a>
        </div>
      </div>
    </div>
    <button class="btn-reset header__btn" data-graph-path=""><i class="fa-solid fa-phone"></i>Связаться с нами</button>
  </div>
</header>
