<section class="objects">
  <div class="container objects__container">
    <div class="service__h1">
      <h1>Наши объекты</h1>
    </div>
    <ul class="objects__list">
      <li class="objects__item">
        <img src="img/22.jpg" alt="" class="objects__item-img">
        <div class="objects__desc">
          <h2 class="objects__item-h2">
            Центр художественной гимнастики имени Ирины Винер-Усмановой в Лужниках
          </h2>
          <p class="objects__item-desc">
            <span></span>
            ООО "ИНЖСЕТИГРУПП" выполнил полный комплекс работ по строительству водостока,канализации и теплосети на объекте Центр художественной гимнастики имени Ирины Винер-Усмановой расположенной по адресу: г.Москва ул.Лужники д.4 Заказчик:Казенное предприятие города Москвы "БСА "Лужники".
          </p>
        </div>
      </li>
      <li class="objects__item">
        <img src="img/33.jpg" alt="" class="objects__item-img">
        <div class="objects__desc">
          <h2 class="objects__item-h2">
            Центр художественной гимнастики имени Ирины Винер-Усмановой в Лужниках
          </h2>
          <p class="objects__item-desc">
            <span></span>
            ООО "ИНЖСЕТИГРУПП" выполнил полный комплекс работ по строительству водостока,канализации и теплосети на объекте Центр художественной гимнастики имени Ирины Винер-Усмановой расположенной по адресу: г.Москва ул.Лужники д.4 Заказчик:Казенное предприятие города Москвы "БСА "Лужники".
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
