<section class="partners">
  <div class="container partners__container">
    <div class="service__h1">
      <h1>Наши партнеры</h1>
    </div>


    <!-- Swiper -->
    <div class="carusel mycarusel">
      <div class="carusel-wrapper">
        <div class="carusel-slide">
          <img src="img/p1.png" alt="">
        </div>
        <div class="carusel-slide">
          <img src="img/p2.png" alt="">
        </div>
        <div class="carusel-slide">
          <img src="img/p3.png" alt="">
        </div>
        <div class="carusel-slide">
          <img src="img/p4.png" alt="">
        </div>
      </div>
      <div class="carusel-button-next"></div>
      <div class="carusel-button-prev"></div>
      <div class="carusel-pagination"></div>
    </div>

</section>
