<section class="services">
  <div class="container services__container">
    <div class="service__h1">
      <h1>Наши услуги</h1>
    </div>
    <ul class="services__list">
      <li class="services__item">
        <span></span>
        <img src="img/one.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/two.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/three.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/four.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
    </ul>
  </div>
</section>
