<section class="services">
  <div class="container services__container">
    <div class="section__header">
      <h1 class="section__title">Наши услуги</h1>
    </div>
    <ul class="services__list services-list">
      <li class="services-list__item">
        <span class="services-list__line"></span>
        <img class="services-list__image" src="img/one.jpg" alt="">
        <span class="services-list__text">Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</span>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/two.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/three.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
      <li class="services__item">
        <span></span>
        <img src="img/four.jpg" alt="">
        <p>Строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения</p>
      </li>
    </ul>
  </div>
</section>
